#result {
  display: none;
}

h1 {
  color: red;
  text-align: center;
}

form {
  text-align: center;
  padding-top: 30px;
}

#result {
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
}

body {
  background-color: #FBE5E0;
}

button {
  background-color: #DD8B79;
}

img {
  height: auto;
  max-width: 100%;
}
